# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/

# Flask debug logs
instance/
*.log

# Database files
*.sqlite3
*.db

# Pytest cache
.pytest_cache/

# VSCode settings (if you use VSCode)
.vscode/

# MacOS files
.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/

# pipenv files
*.env
.venv

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE config files
.idea/
